body {
	background: #CCCCCC
}

#missao{
	color:rgb(100,255,200);
}

#banner{

 width: 100%;

}

p {
	font-size:20px;
	text-align: center;
}

em strong {
	color: darkred;
}







